<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <Header>
            <div class="title_container">
                <h1>Todo List</h1>
            </div>
            <div class="input_tags_container">
                <div class="tags_button_container">
                    <button class="tag">High</button>
                    <button class="tag">Medium</button>
                    <button class="tag active">Low</button>
                </div>
            </div>
            <div class="input_task_container">
                <input class="input_task" type="text" placeholder="Add a task...">
                <button class="add_task_button">Add</button>
            </div>
        </Header>
        <main>
            <div class="task_container">
                {% for task in task_list %}
                    <div class="task {{ task.get_priority_display }}">
                        <div class="important_mark {{ task.get_priority_display }}">{{ task.get_priority_display }}</div>
                        <div class="task_title">{{ task.title }}</div>
                        <div class="is_finish_tags {{ task.get_status_display }}">{{ task.get_status_display }}</div>
                    </div>
                {% endfor %}
            </div>
        </main>
        <footer>
            <p>Created by Jam</p>
        </footer>
    </div>
</body>
</html>