<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <Header>
            <div class="title_container">
                <h1>Todo List</h1>
            </div>
            <div class="input_tags_container">
                <div class="tags_button_container">
                    <button class="tag">High</button>
                    <button class="tag active">Medium</button>
                    <button class="tag">Low</button>
                </div>
            </div>
            <div class="input_task_container">
                <input class="input_task" type="text" placeholder="Add a task...">
                <button class="add_task_button">Add</button>
            </div>
        </Header>
        <main>
            <div class="task_container">
                <div class="task">
                    <div class="important_mark high_tag">High</div>
                    <div class="task_title">Finish Django Project</div>
                    <div class="is_finish_tags">Not Done</div>
                </div>
                <div class="task">
                    <div class="important_mark low_tag">Low</div>
                    <div class="task_title">學習Vue.js</div>
                    <div class="is_finish_tags">Not Done</div>
                </div>
                <div class="task">
                    <div class="important_mark medium_tag">Medium</div>
                    <div class="task_title">完成AI作業</div>
                    <div class="is_finish_tags">Not Done</div>
                </div>
                <div class="task">
                    <div class="important_mark medium_tag">Medium</div>
                    <div class="task_title">讓你的字超出去的時候可以使用 他會變成...的樣子7777777777777777777</div>
                    <div class="is_finish_tags">Not Done</div>
                </div>
                <div class="task">
                    <div class="important_mark low_tag">Low</div>
                    <div class="task_title">學習Vue.js</div>
                    <div class="is_finish_tags">Not Done</div>
                </div>
                <div class="task">
                    <div class="important_mark medium_tag">Medium</div>
                    <div class="task_title">完成AI作業</div>
                    <div class="is_finish_tags">Not Done</div>
                </div>
                <div class="task">
                    <div class="important_mark medium_tag">Medium</div>
                    <div class="task_title">讓你的字超出去的時候可以使用 他會變成...的樣子7777777777777777777</div>
                    <div class="is_finish_tags">Not Done</div>
                </div>
            </div>
        </main>
        <footer>
            <p>Created by Jam</p>
        </footer>
    </div>
</body>
</html>