@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=RocknRoll+One&display=swap');

*{
    font-family: 'RocknRoll One', 'Noto Sans TC', sans-serif;
    padding: 0;
    margin: 0;
    --main-color: #239f95;
    --secondary-color: #f5f4e8;
    --secondary-color-opacity: rgba(245, 244, 232, 0.8);
    --emphasis-color: #414141;
    --green: #27ae60;
    --green-light: rgb(232, 239, 181);
    --green-opacity: rgba(232, 239, 181, 0.7);
    --orange: #f5a53c;
    --orange-light: #f9c079;
    --orange-dark: #c17926;
    --orange-opacity: rgba(250, 188, 116, 0.6);
    --blue: #1E90FF;
    --blue-light: #89CFF0;
    --red: rgb(219, 120, 120);
    --red-dark: rgb(227, 71, 71);
    --red-light: rgb(240, 180, 180);
    --purple: rgb(234 210 255);
    --purple: #924ead;
    
    --shadow1: 3px 0 5px 0 rgba(33, 20, 20, 0.14);
    --shadow2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --shadow3: var(--dark-gray) 2px 2px 2px;

    --font-size0: 14px;
    --font-size1: 16px;
    --font-size2: 20px;
    --font-size3: 24px;
    --font-size4: 32px;

    --radius1: 5px;
    --radius2: 10px;
    --radius3: 15px;
    --radius4: 20px;
    --radius5: 30px;
}


/* priority */
.task.High{background: var(--orange-light);}
.task.Medium{background: var(--red-light);}
.task.Low{background: var(--blue-light);}

.important_mark.High{background: var(--orange);}
.important_mark.Medium{background: var(--red);}
.important_mark.Low{background: var(--blue);}

/* status */
.Done{background: var(--green);}
.Pending{background: var(--purple);}
.Doing{background: var(--red-dark);}

.active{background: var(--orange) !important;}


body{   
    color: var(--emphasis-color);
    background: var(--main-color);
    box-sizing: border-box;
    width: 100%;

}
.container{
    max-width: 768px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

.container Header{
    width: 100%;
    height: 220px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
Header .title_container{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: var(--font-size3);
}
Header .input_tags_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
Header .input_tags_container .tags_button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
Header .input_tags_container .tags_button_container .tag{
    margin: 4px;
    width: 110px;
    line-height: 34px;
    border: 2px solid var(--emphasis-color);
    border-radius: var(--radius2);
    background-color: var(--green-opacity);
    color: var(--emphasis-color);
    font-size: var(--font-size2);
}
Header .input_tags_container .tags_button_container .tag:hover{
    cursor: pointer;
}


Header .input_task_container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
Header .input_task_container .input_task{
    outline: none;
    border: none;
    border-bottom: 2px solid var(--emphasis-color);
    background-color: var(--main-color);
    color: var(--secondary-color) !important;
    width: 250px;
    height: 100%;
    padding: 0 10px;
    font-size: var(--font-size2);
    margin-right: 4px;
}
.input_task::placeholder {
    color: var(--secondary-color-opacity);
    opacity: 1; /* Firefox */
}
.input_task::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--secondary-color-opacity);
}
header .input_task_container .add_task_button{
    width: 60px;
    height: 36px;
    margin-left: 10px;
    font-size: var(--font-size1);
    border-radius: var(--radius1);
    background-color: var(--green-opacity);
    color: var(--emphasis-color);
    outline: none;
}
header .input_task_container .add_task_button:hover{
    cursor: pointer;
    background-color: var(--orange);
}




main {
    width: 100%;
    height: 500px;

    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--radius2);
    background-color: var(--secondary-color);
    box-shadow: var(--shadow1);
}
main .task_container{
    width: 90%;
    height: 100%;

    margin-top: 20px;
    
    overflow-y: scroll;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Scrollbar Setting */
main .task_container::-webkit-scrollbar {
    width: 8px;
}
main .task_container::-webkit-scrollbar-thumb {
    background-color: var(--orange);
}

main .task_container .task{
    display: flex;
    align-items: center;
    
    width: 100%;
    line-height: 70px;

    box-sizing: border-box;
    border-radius: var(--radius1);
    margin: 10px 0;
}

main .task_container .task .important_mark{
    position: relative;
    width: 160px;
    line-height: 40px;

    border-radius: var(--radius4);
    color: var(--secondary-color);
    text-shadow: var(--emphasis-color) 1px 1px 1px;
    
    text-align: center;
    margin: 0 10px;

    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
main .task_container .task .important_mark:hover{
    cursor: pointer;
}

main .task_container .task .task_title{
    width: 100%;
    margin-left: 20px;
    font-size: var(--font-size2);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
main .task_container .task .is_finish_tags{
    width: 140px;
    line-height: 40px;

    border-radius: var(--radius1);
    color: var(--secondary-color);
    text-shadow: var(--emphasis-color) 1px 1px 1px;
    
    text-align: center;
    margin: 0 10px;

    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
main .task_container .task .is_finish_tags:hover{
    cursor: pointer;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    text-align: center;
}




/* Media Query */
@media screen and (max-width: 768px){
    .container Header{
        height: 180px;
    }
    main {
        height: 380px;
    }

    main .task_container::-webkit-scrollbar {
        width: 0px;
    }
    main .task_container::-webkit-scrollbar-thumb {
        background-color: var(--orange);
    }
}

@media screen and (max-width: 480px){
    main .task_container{
        width: 98%;
    }
}